.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    height: 120px;
    z-index: 999;
}
.navbar a {
    color: black;
    text-decoration: none;
    margin: 0 20px;
    font-family: 'Prata', serif;
    font-size: 36px;
}
.navbar a:hover {
    text-decoration: underline;
}