h1 {
    font-family: 'Prata', serif;
    font-size: 36px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}
.footer {
    margin-top: 20px;
    font-size: 14px;
}
.names {
    color: black;
    text-decoration: none;
}
.container {
    background: white;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Prata', serif;
}