@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

html {
    zoom: 1.2;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #f5cebd, #fdf8db);
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    padding-top: 80px;
}