h1 {
    font-family: 'Prata', serif;
    font-size: 36px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}
.footer {
    margin-top: 20px;
    font-size: 14px;
}
.names {
    color: black;
    text-decoration: none;
}
.container {
    background: white;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Prata', serif;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.profile {
    position: relative;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    pointer-events: none;
}

.image-clipper {
    position: absolute;
    bottom: 4px;
    width: 212px;
    height: 400px;
    border-radius: 0 0 110px 110px; 
    overflow: hidden; 
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    pointer-events: none;
}

.profile-img {
    height: auto;
    width: 100%;
    transition: 0.3s;
    pointer-events: none;
}

.image-clipper .overlay {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 212px;
    border-radius: 50%;
    
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

.image-clipper .overlay .name {
    font-size: 24px;
    pointer-events: none;
}

.image-clipper .overlay .count {
    font-size: 16px;
    opacity: 0.9;
}

.circle-layer {
    position: absolute;
    bottom: 0;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid #e596cd;
    background-color: #FCE4EC;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: auto;
}
.profile:hover .overlay {
    opacity: 1;
}
.profile:hover img {
    filter: grayscale(100%);
}